* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    background-color:#B2A4FF;
    height: auto;
}

h1 {
    text-align:center;
}
header {
    height: 100px;
    color: rgb(255, 255, 255);
}
.entrada_input {
    margin-top: 5%;
}

input {
    margin-top:10px;
    font-size:20px;
}
.container-fluid {
    align-items: center;
    height: 520px;
    background:#B2A4FF;
}

.display {
    height:300px;
    width: 280px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid white;
    overflow-y:scroll;
}

.caixa {
    background-color:#ffffff48;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    width: 200px;
}


li {
    margin-top: 20px;
    margin-left: 20px;
    font-size:20px;
    color: #B2A4FF;
    font-weight: bold;
}

button {
    background-color: #B2A4FF;
    height: 20px;
    width: 20px;
    color: white;
    border:none;
    font-size:12px;
    border-radius:50%;
    border:1px solid #6DA9E4;
    margin-left: 200px;
}
